
<h1 style="color: white; margin: 35px 10px;">Groups</h1>

<h1> Add Contributions </h1>
<form  action="/groups/<%= @group.id %>/add_contributions" method="post" >
    <input type="text" name="title" placeholder="Contribution Name..." class="form-name form-control" id="form-name" >
    <input type="text" name="content" placeholder="Contribution Content..." class="form-content form-control" id="form-content" >
    <input type="hidden" id="form-group_name" name="<%= @group.name %>" value="<%= @group.name %>">
  </div> 
  <button type="submit" class="btn btn-success">Create</button>
</form> 
</div> 
  