<h1 style="color: white; margin: 35px 10px;">Groups</h1>
  <div class="container" >
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron" style="background: white; border-radius:10px; margin-top: 10px;">
         
        <% @user_contributions.each do |t| %>
            <p> <b> <%= t.group.name %> </b> </p>
            <p> &nbsp <%= t.title %> </p>
            <p> <center> <%= t.content %> </center> </p>
        <% end %>

        </div><!--end jumbotron -->
      </div><!--end col-sm-8 -->
    </div><!-- end row -->
  </div><!-- end container -->