<h1 style="color: white; margin: 35px 10px;">Groups</h1>
  <div class="container" >
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron" style="background: white; border-radius:10px; margin-top: 10px;">
         
          <% if flash.has?(:message) %>
              <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p><%= flash[:message] %> </p>
              </div>
          <% end %>

          <h1> Create Contribution </h1>
          <div class="form-bottom">
            <form  action="/contributions" method="post" >
              <div class="form-contribution">
                <label class="sr-only" for="form-description">Name</label>
                <input type="text" name="name" placeholder="Contribution Title..." class="form-name form-control" id="form-name" ><br>
                <input type="text" name="content" placeholder="Contribution Content..." class="form-content form-control" id="form-content" ><br>
                <input type="text" name="group_name" placeholder="Group Name..." class="form-group_name form-control" id="form-group_name" >
              </div> <!-- end form-contribution-->
              <br>
              <button type="submit" class="btn btn-success">Create</button>
            </form> 
          </div> 

        </div><!--end jumbotron -->
      </div><!--end col-sm-8 -->
    </div><!-- end row -->
  </div><!-- end container -->