<h1 style="color: white; margin: 35px 10px;">Groups</h1>

<h1> Create Contributions </h1>
<div class="form-bottom">
<form  action="/contributions" method="post" >
  <div class="form-contribution">
    <label class="sr-only" for="form-description">Name</label>
    <input type="text" name="name" placeholder="Contribution Name..." class="form-name form-control" id="form-name" >
    <input type="text" name="content" placeholder="Contribution Content..." class="form-content form-control" id="form-content" >
    <input type="text" name="group_name" placeholder="Group Name..." class="form-group_name form-control" id="form-group_name" >
  </div> <!-- end form-contribution-->
  <button type="submit" class="btn btn-success">Create</button>
</form> 
</div> 