<h1 style="color: white; margin: 35px 10px;">Groups</h1>
  <div class="container" >
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron" style="background: white; border-radius:10px; margin-top: 10px;">

        <h1> Show Contribution </h1>

        <p><center><font size="2"><%= @contribution.title%></font></center></p>
        <p><%= @contribution.content%></p>

        </div><!--end jumbotron -->
      </div><!--end col-sm-8 -->
    </div><!-- end row -->
  </div><!-- end container -->