<h1 style="color: white; margin: 35px 10px;">Groups</h1>

<h1> Follow? </h1>
<div class="form-bottom">
<form  action="/groups/<%= @group.id %>/follow" method="post" >
  <button type="submit" class="btn btn-success">Follow</button>
</form> 
</div> 