<!doctype html>
<html>
  <head>
    <title>RefShare!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  
  <div class="top-stuff">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><span class="poo"></span> RefShare</a>
      </div> <!--navbarheader --?

      <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
              </ul>

              <ul class="nav navbar-nav navbar-right">

                <li><a href="/groups"><span class="glyphicon"></span> Groups</a></li>
                <li><a href="/contributions"><span class="#"></span> View Your Contributions</a></li>
                <li><a href="/groups/new"><span class="#"></span> Add Groups</a></li>
                <li><a href="/contributions/new"><span class="#"></span> Add Contribution</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">

                    <li role="separator" class="divider"></li>
                    <li><a href="/users/:id/edit"><span class="glyphicon glyphicon-edit"></span> Edit Account</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
 
      <%= yield %>
 
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>